*,
*::after,
*::before {
  box-sizing: border-box;
}
.center {
  max-width: 1280px;
  min-width: 320px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.header-link {
  text-decoration: none;
  margin-left: 98px;
  font-size: 80px;
  line-height: 94px;
}
.header-logo {
  color: #000000;
}
.header-colorlogo {
  color: #3181a6;
}
.header-menu {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-menu-top {
  list-style-type: none;
  border: 1px solid #ffffff;
  padding: 25px;

  width: auto;
  font-size: 24px;
  line-height: 28px;
}
.box {
  border: 1px solid #35444f;
  margin-left: 98px;
  background-color: #35444f;
  color: #ffffff;
}
.second-top {
  background-color: #222f3a;
}
.aside-box {
  display: flex;
  justify-content: space-between;

  margin-left: 98px;
  margin-top: 48px;
}
.aside-menu {
  margin: 0%;
  list-style-type: none;
  border: 1px solid #000000;
  padding: 0;
  height: 399px;
}
.aside-link {
  color: #485863;
  padding: 25px;
  font-size: 27px;
  line-height: 27px;
}
.main-image {
  border: 1px solid #000000;
  padding-left: 297px;
  padding-right: 268px;
  padding-top: 75px;
  padding-bottom: 73px;
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.second-link {
  text-align: center;
  border: 1px solid #000000;
  background-color: #dbdbdb;
  color: #35444f;
}
.main-paragraf {
  width: 885px;
  margin-left: 350px;
  margin-top: 37px;
  display: inline-block;
}
.main-text {
  color: #2c2c2c;
  font-size: 18px;
  line-height: 24px;
}
.footer {
  display: flex;
  justify-content: space-between;
  border: 1px solid #63696e;
  background: rgba(99, 105, 110, 0.48);
  margin-left: 100px;
  margin-top: 54px;
}
.footer-text {
  font-size: 28px;
  line-height: 28px;
  margin-left: 40px;
  padding: ;
}
.footer-link {
  margin-right: 40px;
}
.footer-second-link {
  text-decoration: none;
  border-bottom: 1px solid #3181a6;
}
