.menu-nav {
  text-align: center;
  padding: 25px;
  text-transform: uppercase;
}
.menu-link {
  display: inline;
  font-size: 18px;
  line-height: 18px;
  margin-right: 72px;
}
.link {
  color: #ff0000;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 2.7px;
}
.main-img {
  width: 100%;
  height: auto;
}
.page-title {
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 48px;
  color: #373737;
}
.main-text-first {
  border: 1px solid #000000;
}
.main-text {
  text-align: center;
  margin-top: 38px;
  margin-left: 68px;
  margin-right: 68px;
  letter-spacing: 2.4px;
}

button {
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  margin-left: 850px;
  margin-top: 66px;
  border: 1px solid;
  padding-left: 43px;
  padding-right: 43px;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: #ff0000;
}
.page-footer {
  text-align: end;
  margin-right: 105px;
  margin-top: 82px;
  letter-spacing: 2.4px;
  color: #373737;
}
